
body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff !important;
    }

    .searchbar{
    margin-bottom: 2%;
    margin-top: 1%;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;

    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }


#my-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#my-table td, #my-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#my-table tr:nth-child(even){background-color: #f2f2f2;}
  
#my-table tr:hover {background-color: #ddd;}
  
#my-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #353b48;
    color: white;
}

  .buttons{
  position: absolute;
  bottom: 89%;
  background-color: #353b48; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold; 
  }

  .buttons:hover {
    background-color: #353b48;
    color: #fff;
  }
  

  #export-table{
    left: 12%;
  }
  #import-table{
    right: 91%;
  }
  #log-out{
    left: 91%;
  }

  #upload-excel{
    border-radius: 10px;
    border: 1px solid gray;
    position: fixed;
    margin-top: -310px;
    margin-left: -280px;
    top: 70%;
    left: 50%;
    background-color: #ffffff;
    width: 540px;
    height: 240px;

    /* border: 1px 1px 1px 1px solid black; */
  }

  .pull-right button{
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  position: absolute;
  top: 100px;
  left: 57%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 412px;
  }
  input[type=file]{

    position: absolute;
    top: 60px;  
    color: #ffffff;
    font-weight: 3px;
    left: -21%;
    border: 1px solid rgb(255, 255, 255);
  color: grey;
  background-color: #fff;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  }

  .cd-top--is-visible { // back-to-top button visible
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { // reduce button opacity if user keeps scrolling
    opacity: .5;
  }

  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;
  font-family: 'Open Sans', sans-serif;
}h3{font-size: 30px;
   font-weight: 400;text-align: center;
   margin-top: 50px;
}h3 i{color: #444;}